@font-face {
  font-family: "pokemon_solidnormal";
  src: url("../../fonts/pkmn_solid_font/pokemon_solid-webfont.woff2")
      format("woff2"),
    url("../../fonts/pkmn_solid_font/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.navitem {
  text-decoration: none;
  color: white;
}

.wtp {
  color: yellow;
  font-family: "pokemon_solidnormal";
}
